.selected-card{
    width:95%;
    margin:2em;
    display: flex;
    border: 1px solid #F3EEE8;
    border-radius: 5px;
    background-color: #AEC9C9
    
}

.selected-img-container{
    width:30%;
    text-align: center;
    padding: 1em
}
.selected-card-content{
    width:60%;
    text-align: left;
    display:flex;
}

.titles{
    margin-right: 1em
}
.selected-img{
    width:60%
}

.fave-btn{
    margin-top:70%;
    margin-right: 20%;
    border: 1px solid black;
    border-radius: 5px;
  }